@import "./reset.css";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --muted: #787878;
    --muted-background: #f2f2f3;
    --border-color: #434343;

    --layout-max-width: 1360px;
    --layout-padding-x: 20px;

    --font-title: 32px;
    --font-xl: 24px;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: var(--color-foreground);
}

ul {
    list-style: none;
}