.root {
    margin-top: 20px;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 40px;
}

.extBtn {
    padding: 5px 20px;
    font-size: var(--font-sm);
    border: none;
    background-color: var(--foreground);
    color: var(--background);
    cursor: pointer;
}

.extBtn:hover {
    background-color: var(--primary);
    transition: all 0.3s ease-in-out;
}