.root {
    background-color: var(--muted-background);
    margin-top: 100px;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.containerWrap {
    width: 100%;
    max-width: var(--layout-max-width);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.imageWrapper {
    position: relative;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.copyrightInfo {
    font-size: var(--font-sm);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuHeader {
    font-weight: 300;
}

.menuItem {
    font-weight: 600;
    margin-top: 20px;
}

.socialmedias {
    display: flex;
    gap: 10px;
}

.link {
    font-weight: 400;
    color: var(--muted);
    font-size: var(--font-sm);
}

@media (max-width: 800px) {
    .root {
        margin-top: 40px;
    }

    .containerWrap {
        flex-direction: column;
        align-items: center;
    }

    .copyright {
        align-items: center;
    }

    .menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .contacts {
        margin-top: 20px;
    }
}