.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 200px;
  text-align: center;
}

.title {
  font-size: var(--font-title-xl);
  font-weight: 700;
}

.root {
  margin-top: 100px;
}

.catalogBtn {
  margin-top: 30px;
  height: 46px;
  width: 200px;
  border: none;
  background: var(--foreground);
  color: var(--background);
  font-size: var(--font-md);
  font-weight: 600;
  cursor: pointer;
}