.container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--font-xl);
    font-weight: 600;
    margin-top: 10px;
}

.imageWrapper {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background: #f7f7f7;
}

.image {
    object-fit: contain;
}

.price {
    color: var(--muted);
    font-size: var(--font-lg);
}

.priceContainer {
    margin-top: 20px;
}