.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.label {
    font-size: var(--font-xl);
    font-weight: 600;
    margin-top: 10px;
}

.price {
    color: var(--muted);
    font-size: var(--font-lg);
}

.priceContainer {
    margin-top: 20px;
}