.container {
    margin: 100px 0;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

.card {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
}

.card:hover::before {
    opacity: 0.4;
}

.cardHeading {
    position: absolute;
    font-size: var(--font-xxl);
    font-weight: 600;
    bottom: 20px;
    left: 20px;
}