.root {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

    z-index: 100;
    background: var(--background);
    box-shadow: 0 4px 4px rgba(0,0,0,0.04);
}

.container {
    max-width: var(--layout-max-width);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px 40px;
}

/* Лого */

.logoLink {
    display: inline-flex;
    align-items: center;
}

.logo {
    display: block;
}

/* Меню */

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menuItem { }

.menuLink {
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    transition: color 0.15s ease;
}

.menuLink:hover {
    color: #555;
}

/* Кнопки действий (иконки справа) */

.actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.actionButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    border: none;
    cursor: pointer;
    background-color: var(--background);
}

.actionIcon {}
