.container {
    margin: 100px 0 40px 0;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}

.products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
}

@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 640px) {
    .title {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: var(--font-xl);
    }
}